Repository MkMan/cash-flo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, markdownlint --fix

chore: install Tauri Store dependency
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
Due: prettier --write

chore: minor config changes
  eslint.config.js
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat: implement profiles mvp
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.css
  src/App.tsx
  src/app/profiles/create-profile/create-profile.tsx
  src/assets/logo.svg
  src/index.tsx
  src/state/index.ts
  src/state/user-settings/constants.ts
  src/state/user-settings/types.ts
  src/state/user-settings/user-settings.ts
Due: eslint --cache --fix, prettier --write

feat: set up router
  package-lock.json
  package.json
  src/App.tsx
  src/index.tsx
Due: eslint --cache --fix, prettier --write

chore: remove rust formatting from pre-commit
  .husky/pre-commit
Due: none

refactor: restructure pages
  src/app/pages/index.ts
  src/app/pages/profiles/profiles.tsx
  src/index.tsx
Due: eslint --cache --fix, prettier --write

refactor: tidy up Profiles Page
  src/app/pages/profiles/profiles.tsx
  src/app/pages/profiles/utils.ts
Due: eslint --cache --fix, prettier --write

refactor: remove signal from profile name input
  src/app/pages/profiles/profiles.tsx
Due: eslint --cache --fix, prettier --write

refactor: break down Profiles page into smaller components
  src/app/pages/profiles/create-profile/create-profile.tsx
  src/app/pages/profiles/current-profiles/current-profiles.tsx
  src/app/pages/profiles/profiles.tsx
  src/app/pages/profiles/utils.ts
Due: eslint --cache --fix, prettier --write

refactor: rename Profiles page to Home
  src/app/pages/home/create-profile/create-profile.tsx
  src/app/pages/home/current-profiles/current-profiles.tsx
  src/app/pages/home/home.tsx
  src/app/pages/home/utils.ts
  src/app/pages/index.ts
  src/index.tsx
Due: eslint --cache --fix, prettier --write

chore: configure TS paths
  package-lock.json
  package.json
  src/app/pages/home/current-profiles/current-profiles.tsx
  src/app/pages/home/home.tsx
  tsconfig.json
  tsconfig.node.json
  vite.config.mts
Due: eslint --cache --fix, prettier --write

chore: update npm scripts
  package.json
  src-tauri/tauri.conf.json
Due: prettier --write

refactor: remove `app` folder
  src/index.tsx
  src/pages/home/create-profile/create-profile.tsx
  src/pages/home/current-profiles/current-profiles.tsx
  src/pages/home/home.tsx
  src/pages/home/utils.ts
  src/pages/index.ts
Due: eslint --cache --fix, prettier --write

feat: create a basic Profile page
  src/index.tsx
  src/pages/home/current-profiles/current-profiles.tsx
  src/pages/index.ts
  src/pages/profile/profile.tsx
  src/utils/index.ts
  src/utils/routing/routing.ts
Due: eslint --cache --fix, prettier --write

feat: add ability to add accounts
  src/pages/home/create-profile/create-profile.tsx
  src/pages/home/utils.ts
  src/pages/profile/add-account/add-account.tsx
  src/pages/profile/profile.tsx
  src/pages/profile/utils.ts
  src/state/user-settings/types.ts
  src/state/user-settings/user-settings.ts
Due: eslint --cache --fix, prettier --write

chore: set up path to app utils
  tsconfig.json
Due: prettier --write

feat: add some context to account page
  src/index.tsx
  src/pages/account/account.tsx
  src/pages/home/current-profiles/current-profiles.tsx
  src/pages/index.ts
  src/pages/profile/profile.tsx
  src/utils/routing/routing.ts
Due: eslint --cache --fix, prettier --write

3 implement creating accounts (#4)
  package.json
  src-tauri/tauri.conf.json
  src/app/pages/index.ts
  src/index.tsx
  src/pages/account/account.tsx
  src/pages/home/create-profile/create-profile.tsx
  src/pages/home/current-profiles/current-profiles.tsx
  src/pages/home/home.tsx
  src/pages/home/utils.ts
  src/pages/index.ts
  src/pages/profile/add-account/add-account.tsx
  src/pages/profile/profile.tsx
  src/pages/profile/utils.ts
  src/state/user-settings/types.ts
  src/state/user-settings/user-settings.ts
  src/utils/index.ts
  src/utils/routing/routing.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

chore: set up SQL and drizzle
  drizzle.config.ts
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/0000_square_roulette.sql
  src-tauri/migrations/meta/0000_snapshot.json
  src-tauri/migrations/meta/_journal.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/db/index.ts
  src/db/migrate.ts
  src/db/schema.ts
  src/index.tsx
  src/pages/home/home.tsx
  tsconfig.json
  tsconfig.node.json
Due: eslint --cache --fix, prettier --write

refactor: migrate to SQL
  src-tauri/migrations/0001_long_epoch.sql
  src-tauri/migrations/meta/0001_snapshot.json
  src-tauri/migrations/meta/_journal.json
  src/App.tsx
  src/db/schema.ts
  src/pages/account/account.tsx
  src/pages/home/current-profiles/current-profiles.tsx
  src/pages/home/home.tsx
  src/pages/home/utils.ts
  src/pages/profile/profile.tsx
  src/pages/profile/utils.ts
  src/state/index.ts
  src/state/user-settings/constants.ts
  src/state/user-settings/types.ts
  src/state/user-settings/user-settings.ts
Due: eslint --cache --fix, prettier --write

chore: remove file store packages
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: prettier --write

chore: tidy up loose ends
  src/db/migrate.ts
  src/index.tsx
  src/pages/account/account.tsx
  src/pages/home/home.tsx
  src/state/index.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

Migrate to SQLite (#5)
  drizzle.config.ts
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/0000_square_roulette.sql
  src-tauri/migrations/0001_long_epoch.sql
  src-tauri/migrations/meta/0000_snapshot.json
  src-tauri/migrations/meta/0001_snapshot.json
  src-tauri/migrations/meta/_journal.json
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/db/index.ts
  src/db/migrate.ts
  src/db/schema.ts
  src/index.tsx
  src/pages/account/account.tsx
  src/pages/home/current-profiles/current-profiles.tsx
  src/pages/home/home.tsx
  src/pages/home/utils.ts
  src/pages/profile/profile.tsx
  src/pages/profile/utils.ts
  src/state/index.ts
  src/state/user-settings/constants.ts
  src/state/user-settings/types.ts
  src/state/user-settings/user-settings.ts
  tsconfig.json
  tsconfig.node.json
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx,css,md,json,html}
  markdownlint --fix: any of: *.md
